body { margin: 0; padding: 0; float: left; width: 100%; }

.zeroContainer { max-width: 1700px; max-height: 700px; }

.zeroContainer-bg { max-width: 1700px; background: url("../img/world-map.png") no-repeat center center; background-size: cover; background-color: #011a27; }

.my-btn-primary { width: 120px; height: 42px; background-color: #00aeed; -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; border-radius: 30px; margin: 20px 0; border: none; color: white; box-shadow: -4px 11px 40px 0 rgba(0, 1, 1, 0.2); }

.my-btn-primary:hover { background-color: #37c3a8; border-color: #37c3a8; box-shadow: -4px 11px 40px 0 rgba(0, 1, 1, 0.5); transform: scale(1.1, 1.1); transition-duration: 1s; cursor: pointer; }

h2 { text-transform: uppercase; font-size: 26px; font-weight: 700; }

h4 { text-transform: uppercase; font-size: 18px; margin: 20px 0; }

.my-navbar { background-color: transparent !important; }

.my-navbar .my-collapse { justify-content: flex-end; }

.my-navbar .my-collapse .my-navbar-nav { margin: 0 !important; text-transform: uppercase; font-size: 18px; }

@media (max-width: 991.98px) { .my-navbar .my-collapse .my-navbar-nav { font-size: 14px; } }

@media (max-width: 575.98px) { .my-navbar .my-collapse .my-navbar-nav { min-width: 100px; float: right; } }

.my-navbar .my-collapse .my-navbar-nav li a { color: white; }

@media (max-width: 575.98px) { .my-navbar .my-collapse .my-navbar-nav li a { padding: 5px 0 0 0; } }

.my-navbar .my-collapse .my-navbar-nav li a:hover { color: #00aeed; }

.flexWrapper { display: flex; color: white; }

@media (max-width: 767.98px) { .flexWrapper { flex-wrap: wrap; } }

.flexWrapper .flexWrapper__element { flex-basis: 200px; flex-grow: 1; }

.firstContainer__title { font-size: 48px; font-weight: 900; text-align: center; margin: 130px 10px 100px; }

@media (max-width: 1199.98px) { .firstContainer__title { margin: 80px 10px 50px; } }

@media (max-width: 991.98px) { .firstContainer__title { font-size: 42px; margin: 40px 10px 40px; } }

@media screen and (max-width: 509px) { .firstContainer__title { margin: 20px 10px 20px; } }

.firstContainer__mainImage { text-align: center; padding: 20px; }

@media screen and (max-width: 509px) { .firstContainer__mainImage { display: none; } }

.firstContainer__mainImage img { min-width: 150px; width: 90%; margin-bottom: -472px; }

@media (max-width: 1199.98px) { .firstContainer__mainImage img { margin-bottom: -340px; } }

@media (max-width: 991.98px) { .firstContainer__mainImage img { margin-bottom: -320px; width: 100%; } }

@media (max-width: 767.98px) { .firstContainer__mainImage img { width: 90%; margin-bottom: 0; } }

.firstContainer__description { margin: 130px 10px 100px; text-align: justify; font-size: 16px; }

@media (max-width: 1199.98px) { .firstContainer__description { margin: 80px 10px 50px; } }

@media (max-width: 991.98px) { .firstContainer__description { font-size: 14px; margin: 40px 10px 40px; } }

@media (max-width: 767.98px) { .firstContainer__description { margin: 15px 10px 15px; } }

.secondcontainer { margin: 80px auto 40px; }

.secondcontainer_flex { display: flex; }

@media (max-width: 575.98px) { .secondcontainer_flex { flex-direction: column; } }

.secondcontainer_flex .secondcontainer__who { flex-basis: 200px; flex-grow: 1; }

.secondcontainer_flex .secondcontainer__who p { font-size: 16px; text-align: justify; }

.secondcontainer_flex .secondcontainer__img { flex-basis: 200px; flex-grow: 1; }

.secondcontainer_flex .secondcontainer__img .secondcontainer__img_wrapper { position: relative; }

.secondcontainer_flex .secondcontainer__img .secondcontainer__img_wrapper img { width: 100%; height: auto; position: relative; right: -50px; top: 30px; }

@media (max-width: 575.98px) { .secondcontainer_flex .secondcontainer__img .secondcontainer__img_wrapper { width: 80%; } }

.secondcontainer_flex .secondcontainer__img .secondcontainer__img_wrapper .secondcontainer__img_block { width: 172px; height: 145px; background-color: #00aeed; position: absolute; top: -10px; right: -20px; z-index: -1; }

@media (max-width: 767.98px) { .secondcontainer_flex .secondcontainer__img .secondcontainer__img_wrapper .secondcontainer__img_block { width: 130px; height: 100px; top: 0; right: -30px; } }

.thirdContainer { max-width: 1700px; }

.thirdContainer_bg { background: url("../img/Layer%208.png") no-repeat center center; background-size: cover; }

.thirdContainer_bg .fourthContainer { display: flex; }

@media (max-width: 575.98px) { .thirdContainer_bg .fourthContainer { flex-direction: column; } }

.thirdContainer_bg .fourthContainer .fourthContainer_img { flex-basis: 300px; flex-grow: 1; flex-shrink: 0; display: flex; padding-top: 20px; }

@media (max-width: 767.98px) { .thirdContainer_bg .fourthContainer .fourthContainer_img { flex-basis: 200px; padding-top: 0; } }

@media (max-width: 575.98px) { .thirdContainer_bg .fourthContainer .fourthContainer_img { order: 10; flex-basis: auto; justify-content: center; } }

.thirdContainer_bg .fourthContainer .fourthContainer_img img { display: block; width: 100%; align-self: flex-end; }

@media (max-width: 575.98px) { .thirdContainer_bg .fourthContainer .fourthContainer_img img { width: 70%; } }

.thirdContainer_bg .fourthContainer .fourthContainer_openquotes { flex-basis: 50px; flex-grow: 1; flex-shrink: 2; margin-top: 40px; }

@media (max-width: 767.98px) { .thirdContainer_bg .fourthContainer .fourthContainer_openquotes { margin-top: 10px; } }

@media (max-width: 575.98px) { .thirdContainer_bg .fourthContainer .fourthContainer_openquotes { order: 1; margin-top: 20px; } }

.thirdContainer_bg .fourthContainer .fourthContainer_openquotes img { width: 100%; }

@media (max-width: 575.98px) { .thirdContainer_bg .fourthContainer .fourthContainer_openquotes img { width: 10%; } }

.thirdContainer_bg .fourthContainer .fourthContainer_quote { color: white; font-size: 16px; line-height: 24px; text-align: justify; flex-basis: 400px; flex-grow: 1; flex-shrink: 1; margin: 40px 20px 0 20px; }

@media (max-width: 767.98px) { .thirdContainer_bg .fourthContainer .fourthContainer_quote { margin: 10px 5px; font-size: 14px; line-height: 20px; } }

@media (max-width: 575.98px) { .thirdContainer_bg .fourthContainer .fourthContainer_quote { flex-basis: 100px; order: 2; font-size: 16px; line-height: 24px; } }

.thirdContainer_bg .fourthContainer .fourthContainer_quote p:first-child { text-align: center; font-size: 24px; margin-top: 20px; }

@media (max-width: 767.98px) { .thirdContainer_bg .fourthContainer .fourthContainer_quote p:first-child { margin: 10px 0; font-size: 20px; margin: 10px 0 0 0; } }

.thirdContainer_bg .fourthContainer .fourthContainer_quote p:nth-child(2) { text-align: center; font-size: 16px; margin: 0; }

.thirdContainer_bg .fourthContainer .fourthContainer_closequotes { flex-basis: 50px; flex-grow: 1; flex-shrink: 2; margin-top: 40px; }

@media (max-width: 767.98px) { .thirdContainer_bg .fourthContainer .fourthContainer_closequotes { margin-top: 10px; } }

@media (max-width: 575.98px) { .thirdContainer_bg .fourthContainer .fourthContainer_closequotes { order: 3; margin-top: 0; } }

.thirdContainer_bg .fourthContainer .fourthContainer_closequotes img { width: 100%; }

@media (max-width: 575.98px) { .thirdContainer_bg .fourthContainer .fourthContainer_closequotes img { width: 10%; } }

.fifthcontainer { max-width: 1700px; }

.fifthcontainer_bg { background: url("../img/Layer%2011.png") no-repeat center center; background-size: cover; }

.fifthcontainer_bg .sixthcontainer { display: flex; flex-wrap: wrap; padding: 40px 0; }

.fifthcontainer_bg .sixthcontainer .sixthcontainer_services { flex-basis: 800px; flex-grow: 2; text-align: center; padding: 0 20px; }

.fifthcontainer_bg .sixthcontainer .sixthcontainer_services h3 { color: white; font-size: 26px; font-weight: 700; text-transform: uppercase; }

.fifthcontainer_bg .sixthcontainer .sixthcontainer_services p { color: white; font-size: 16px; }

.fifthcontainer_bg .sixthcontainer .sixthcontainer_content { flex-basis: 400px; flex-grow: 1; text-align: center; color: white; padding: 20px; }

@media (max-width: 991.98px) { .fifthcontainer_bg .sixthcontainer .sixthcontainer_content { flex-basis: 300px; } }

@media (max-width: 767.98px) { .fifthcontainer_bg .sixthcontainer .sixthcontainer_content { flex-basis: 200px; } }

@media (max-width: 575.98px) { .fifthcontainer_bg .sixthcontainer .sixthcontainer_content { flex-basis: 300px; } }

.fifthcontainer_bg .sixthcontainer .sixthcontainer_content .sixthcontainer_icon { -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; border-radius: 30px; width: 55px; height: 55px; border: 1px solid white; display: flex; justify-content: center; align-items: center; margin: 10px auto; }

.fifthcontainer_bg .sixthcontainer .sixthcontainer_content p { margin: 0; font-size: 16px; }

.seventhcontainer { max-width: 1700px; padding: 0; }

.seventhcontainer:after { content: " "; display: block; clear: both; }

.seventhcontainer .seventhcontainer_img { float: left; max-width: 45%; margin-right: 35px; }

@media screen and (max-width: 1140px) { .seventhcontainer .seventhcontainer_img { display: none; } }

.seventhcontainer .seventhcontainer_img img { width: 100%; }

@media screen and (max-width: 1140px) { .seventhcontainer .eightcontainer .eightcontainer_wedo { display: flex; padding: 25px 0; } }

@media (max-width: 767.98px) { .seventhcontainer .eightcontainer .eightcontainer_wedo { display: flex; flex-direction: column; } }

.seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_flex { display: flex; flex-direction: column; flex-grow: 1; flex-basis: 400px; height: 580px; }

@media screen and (max-width: 1400px) { .seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_flex { height: 480px; } }

@media screen and (max-width: 1260px) { .seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_flex { height: 420px; } }

@media screen and (max-width: 1140px) { .seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_flex { height: auto; flex-grow: 1; } }

.seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_flex h2 { padding: 25px 0 5px; margin: 0; }

@media (max-width: 991.98px) { .seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_flex h2 { font-size: 22px; padding: 20px 0 5px; } }

.seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_flex .eightcontainer_item { display: flex; flex-grow: 1; }

.seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_flex .eightcontainer_item:after { content: " "; display: block; clear: both; }

.seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_flex .eightcontainer_item .eightcontaine_icon { margin: 20px 20px 0 0; }

@media (max-width: 991.98px) { .seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_flex .eightcontainer_item .eightcontaine_icon { margin: 15px 15px 0 0; } }

.seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_flex .eightcontainer_item .eightcontainer_text h4 { margin: 20px 0 10px; }

@media (max-width: 991.98px) { .seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_flex .eightcontainer_item .eightcontainer_text h4 { font-size: 16px; margin: 15px 0 5px; } }

.seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_flex .eightcontainer_item .eightcontainer_text p { margin: 0; font-size: 16px; text-align: justify; }

@media (max-width: 991.98px) { .seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_flex .eightcontainer_item .eightcontainer_text p { font-size: 16px; } }

.seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_dop { flex-grow: 1; flex-basis: 400px; margin: 75px 0 0 30px; }

@media screen and (min-width: 1140px) { .seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_dop { display: none; } }

@media (max-width: 991.98px) { .seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_dop { margin: 65px 0 0 20px; } }

@media (max-width: 767.98px) { .seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_dop { margin: 20px 0 0 20px; } }

.seventhcontainer .eightcontainer .eightcontainer_wedo .eightcontainer_dop img { width: 100%; }

.ninethcontainer h2 { text-align: center; margin: 40px 0 20px; }

.ninethcontainer .ninethcontainer_wrapper { display: flex; }

@media (max-width: 767.98px) { .ninethcontainer .ninethcontainer_wrapper { flex-direction: column; } }

.ninethcontainer .ninethcontainer_wrapper .ninethcontainer_item { flex-basis: 400px; flex-grow: 1; text-align: center; margin: 0 20px; }

@media (max-width: 767.98px) { .ninethcontainer .ninethcontainer_wrapper .ninethcontainer_item { margin: 20px 0; } }

.ninethcontainer .ninethcontainer_wrapper .ninethcontainer_item .ninethcontainer_img img { width: 100%; }

.ninethcontainer .ninethcontainer_wrapper .ninethcontainer_item p { text-align: justify; }

.ninethcontainer .ninethcontainer_wrapper .ninethcontainer_item .ninethcontainer_buttonwrapper { text-align: left; margin-left: 20px; }

.tenthcontainer { max-width: 1700px; display: flex; margin-top: 40px; }

.tenthcontainer_bg { background: url("../img/Layer%209.png") no-repeat center center; background-size: cover; }

.tenthcontainer_bg .tenthcontainer_wrapper { display: flex; padding: 100px 0; justify-content: space-around; flex-wrap: wrap; flex-grow: 1; }

@media (max-width: 767.98px) { .tenthcontainer_bg .tenthcontainer_wrapper { padding: 50px 0; } }

.tenthcontainer_bg .tenthcontainer_wrapper .tenthcontainer_icon { -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; border-radius: 30px; width: 55px; height: 55px; border: 1px solid white; display: flex; margin: 20px; align-items: center; }

.tenthcontainer_bg .tenthcontainer_wrapper .tenthcontainer_icon .fa { margin: auto; color: white; }

.tenthcontainer_bg .tenthcontainer_wrapper .tenthcontainer_icon .fa:hover { cursor: pointer; }

.eleventhcontainer { margin-bottom: 40px; }

.eleventhcontainer h2 { text-align: center; margin: 40px 0 20px; }

.eleventhcontainer .eleventhcontainer_wrapper { display: flex; }

@media (max-width: 767.98px) { .eleventhcontainer .eleventhcontainer_wrapper { flex-direction: column; } }

.eleventhcontainer .eleventhcontainer_wrapper address { flex-basis: 300px; flex-grow: 1; margin: 0 20px; }

.eleventhcontainer .eleventhcontainer_wrapper address .eleventhcontainer_item { display: flex; }

.eleventhcontainer .eleventhcontainer_wrapper address .eleventhcontainer_item .eleventhcontainer_icon { margin: 20px 20px 0 0; flex-basis: 10px; flex-grow: 1; }

.eleventhcontainer .eleventhcontainer_wrapper address .eleventhcontainer_item .eleventhcontainer_icon .fa-mobile { margin-left: 7px; }

.eleventhcontainer .eleventhcontainer_wrapper address .eleventhcontainer_item .eleventhcontainer_text { flex-basis: 330px; flex-grow: 1; font-size: 12px; }

.eleventhcontainer .eleventhcontainer_wrapper address .eleventhcontainer_item .eleventhcontainer_text h6 { margin-top: 20px; font-weight: 600; }

.eleventhcontainer .eleventhcontainer_wrapper address .eleventhcontainer_item .eleventhcontainer_text p { margin: 0; }

.eleventhcontainer .eleventhcontainer_wrapper .eleventhcontainer_form { flex-basis: 400px; flex-grow: 1; margin: 0 20px; }

.eleventhcontainer .eleventhcontainer_wrapper .eleventhcontainer_form .form-group { margin: 0; }

.eleventhcontainer .eleventhcontainer_wrapper .eleventhcontainer_form .form-group label { padding: 7px 15px 7px 0; }

.eleventhcontainer .eleventhcontainer_wrapper .eleventhcontainer_form .form-group input { height: 28px; border: none; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; border-radius: 0px; }

.eleventhcontainer .eleventhcontainer_wrapper .eleventhcontainer_form .form-group textarea { border: none; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; border-radius: 0px; }

.eleventhcontainer .eleventhcontainer_wrapper .eleventhcontainer_form .form-group .borderclass { border-bottom: 1px solid #cbcbcb; }

.eleventhcontainer .eleventhcontainer_wrapper .eleventhcontainer_form .form-group .invalid { border: thin solid red; }

.footercontainer { max-width: 1700px; text-align: center; background-color: #011a27; padding: 40px 0; }

.footercontainer p { color: white; margin: 0; }
